name: Auto merge

on:
  pull_request:
    branches:
      - main
    types:
      - labeled
      - unlabeled
      - reopened
      - synchronize

jobs:
  auto-merge:
    if: (contains(github.event.pull_request.labels.*.name, 'Ready to merge') && github.event.pull_request.draft == false && github.event.pull_request.state == 'open')

    runs-on: ubuntu-latest
    steps:
      - uses: edp5/edp5-actions/auto-merge@v1.1.0
        with:
          token: ${{ secrets.SERVICE_TOKEN }}
