name: release.yml
on:
  workflow_dispatch:

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: edp5/edp5-actions/release@main
        with:
          token: ${{ secrets.SERVICE_TOKEN }}
